@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
footer{
    
    background-color: d7a942;
    width: 100%;
    color: #393535;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box hr{
    background-color: rgb(200, 0, 0);
    border: 0;
    height: 2px;
    width: 75px;
    margin: 10px 0 20px;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
    padding: 100px 20px;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    color: black;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background-color: red;
}
.center-2 .content .faqs a:hover{
    color: red;
}
.center-2 .content .faqs a{
    color: black;
    text-decoration: none;
}
.right .content {
    width: 75px;
    height: 25px;
    border: none;
    color: black;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 18px;
    outline: none;
}