header{
    background-color: #D7A942;
}
body{
    background-color:  rgba(242, 233, 233, 0.986);
    width: 1520px;
    padding: 0.75%;
  }
#tpc{
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 40px;
    background-color: black;
}
.topic{
    margin-left: 100px;
}
#tpc a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#tpc a:hover{
    background-color: rgba(80, 80, 80, 0.805);
}

#search{
    margin-top: 20px;
    margin-left: 140px;
    margin-bottom: 20px;
    width: 1100px
}
.but{
    width: 40px;
    height: 20px;
    border-radius: 4px;
}

#select{
    padding-left: 90px;
    padding-bottom: 10px;
    font-size: 20px;
}
.year{
    margin-left: 40px;    
    color: rgb(0, 0, 0);
}
#select a{
    text-decoration: none;
    font-weight: bold;
}

#dt{
    margin-left: 10px;
}

#tittle {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    height: 70px;
}
#ava{
    width: 200px;
    text-align: center;
    border-top:solid;
    border-bottom:solid;
}
#name{
    width: 150px;
    text-align: center;
    border-top:solid;
    border-bottom:solid;
}
#year{
    width: 190px;
    text-align: center;
    border-top:solid;
    border-bottom:solid;
}
#share{
    width: 170px;
    text-align: center;
    border-top:solid;
    border-bottom:solid;
}
#info{
    width: 530px;    
    text-align: center;
    border-top:solid;
    border-bottom:solid;
}
#moti{
    width: 300px;
    text-align: center;
    border-top:solid;
    border-bottom:solid;
}
